body{
  background: #fbfbfb;
}
.card{
    background: #fff;
    padding: 20px;
    margin: 20px;
    min-height: 500px;
    box-shadow: 5px 5px 20px #0003;
    border-radius: 8px;
    text-align: center;
}

.card-title {
    margin: 10px 0px 20px;
    display: inline-block;
    padding: 0px 40px;
    line-height: 30px;
    text-align: center;
    background: #40b2e7;
    color: #fff;
    position: relative;
    height: 30px;
    font-size: 14px;
}
.card-title:before {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-width: 15px 0px 15px 15px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    left: 0px;
    top: 0px;
}

.card-title:after {
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    border-width: 15px 15px 15px 0px;
    border-color: transparent #fff transparent transparent ;
    border-style: solid;
    right: 0px;
    top: 0px;
}
.card-content {
  text-align: left;
  text-indent: 2em;
}